* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Open Sans, sans-serif;
  background-color: #f3eeec;
  color: #02040f;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
}

.btn-slide-light, .btn-slide-dark, .btn-slide-main {
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #f3eeec;
  border: 2px solid #f3eeec;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.btn-slide-light::before, .btn-slide-dark::before, .btn-slide-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #ad9246;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-slide-light:hover::before, .btn-slide-dark:hover::before, .btn-slide-main:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.btn-slide-light {
  border-color: #f3eeec;
  color: #f3eeec;
}

.btn-slide-dark {
  border-color: #02040f;
  color: #02040f;
}

.btn-slide-main {
  border-color: #ad9246;
  color: #ad9246;
}

.btn-slide-main::before {
  background-color: #e4e4e4;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.bg {
  padding: 1rem 2rem;
}

.bg--light {
  background: #f3eeec;
  color: #000;
}

.bg--medium {
  background: #e4e4e4;
  color: #000;
}

.bg--dark {
  background: #02040f;
  color: #fff;
}

.bg--main {
  background: #ad9246;
  color: #fff;
}

.text-lead {
  font-size: 1.5rem;
  max-width: 80%;
  margin: 1rem auto 2rem;
  text-align: center;
}

.text-lead--no-bottom {
  margin-bottom: 0;
}

.section-title {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.hide-small-medium {
  display: none;
}

.header {
  width: 100%;
  position: relative;
  text-align: center;
}

.header--home {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.6)), to(rgba(0, 0, 0, 0.8))), url(../images/showcase.jpg) no-repeat 60% bottom/cover;
  background: linear-gradient(to bottom, rgba(149, 149, 149, 0.6), rgba(0, 0, 0, 0.8)), url(../images/showcase.jpg) no-repeat 60% bottom/cover;
}

.header--inner {
  position: relative;
  height: 16vh;
  background: none;
}

.header__hamburger {
  position: fixed;
  top: 4.5rem;
  right: 4rem;
  z-index: 10;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header__hamburger.js-menu-open .header__hamburger-bar {
  background-color: transparent;
}

.header__hamburger.js-menu-open .header__hamburger-bar::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__hamburger.js-menu-open .header__hamburger-bar::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.js-menu-open .header__hamburger-bar::before, .header__hamburger.js-menu-open .header__hamburger-bar::after {
  top: 0;
}

.header__hamburger-bar, .header__hamburger-bar::before, .header__hamburger-bar::after {
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__hamburger-bar::before {
  top: -17px;
}

.header__hamburger-bar {
  top: calc(50% - 2.5px);
}

.header__hamburger-bar::after {
  top: 17px;
}

.header__nav {
  padding: 4rem 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-logo {
  width: 70px;
}

.header__nav-logo-image {
  height: 70px;
}

.header__nav-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: scale 0.6s, opacity 0.6s;
  transition: scale 0.6s, opacity 0.6s;
}

.header__nav-overlay.js-menu-open {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.header__nav-menu {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f3eeec;
}

.header__nav-menu-item {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.header__nav-menu-link {
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__nav-menu-link:hover, .header__nav-menu-link--active {
  color: #ad9246;
  font-weight: bold;
}

.header__main-text {
  position: absolute;
  top: 30%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 65%;
}

.header__main-text-title {
  font-size: 3rem;
  color: #fff;
  padding: 2rem 3rem;
  background-color: #000;
  margin-bottom: 2rem;
}

.header__main-text-subtitle {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: normal;
  color: #ad9246;
}

.header__main-text-button {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #f3eeec;
  background-color: transparent;
  border: 2px solid #f3eeec;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header__main-text-button:hover {
  background-color: transparent;
  color: #f3eeec;
  border-color: #f3eeec;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

@media (min-width: 770px) {
  .header__main-text-button {
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .header__main-text-button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .header__main-text-button {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .header__main-text-button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.about__title {
  margin-bottom: 2rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content-image {
  width: 50vw;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.about__content-info {
  width: 70vw;
}

.about__content-info-text {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.offer__items {
  margin: 3rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.offer__item {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin-bottom: 3rem;
}

.offer__button {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 60%;
  color: #02040f;
  background-color: #ad9246;
  border: 2px solid #ad9246;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.offer__button:hover {
  background-color: #f3eeec;
  color: #02040f;
  border-color: #02040f;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

@media (min-width: 770px) {
  .offer__button {
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .offer__button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .offer__button {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .offer__button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card:hover .card__front {
  -webkit-transform: perspective(1200px) rotateY(-180deg);
          transform: perspective(1200px) rotateY(-180deg);
}

.card:hover .card__back {
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
}

.card__front, .card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.card__front {
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
  border: 2px solid #02040f;
}

.card__front-content {
  height: 100%;
  padding: 5rem 0;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__front-content-icon {
  color: #ad9246;
  margin-bottom: 2rem;
}

.card__back {
  background-color: #f3eeec;
  -webkit-transform: perspective(1200px) rotateY(180deg);
          transform: perspective(1200px) rotateY(180deg);
  border: 2px solid #02040f;
}

.card__back-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2rem;
  font-size: 1.8rem;
}

.card__back-content-text {
  text-align: justify;
  min-height: 120px;
}

.card__back-content-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 100%;
  color: #02040f;
  background-color: #ad9246;
  border: 2px solid #ad9246;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card__back-content-button:hover {
  background-color: #f3eeec;
  color: #ad9246;
  border-color: #ad9246;
}

@media (min-width: 770px) {
  .card__back-content-button {
    font-size: 2.3rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .card__back-content-button {
    font-size: 2.6rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .card__back-content-button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .card__back-content-button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.portfolioInfo {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(0, 0, 0, 0.7))), url(../images/portfolio_bg.jpg) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.7)), url(../images/portfolio_bg.jpg) no-repeat center center/cover;
}

.portfolioInfo__title {
  margin-bottom: 0;
}

.portfolioInfo__gallery {
  height: 60vh;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (130px)[2];
      grid-template-columns: repeat(2, 130px);
  -ms-grid-rows: (130px)[2];
      grid-template-rows: repeat(2, 130px);
  gap: 1rem;
  row-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2rem auto;
}

.portfolioInfo__gallery-item {
  position: relative;
  overflow: hidden;
  border: 2px solid #02040f;
}

.portfolioInfo__gallery-item:hover .portfolioInfo__gallery-image {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.portfolioInfo__gallery-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.portfolioInfo__button {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 50%;
  color: #f3eeec;
  background-color: #02040f;
  border: 2px solid #02040f;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.portfolioInfo__button:hover {
  background-color: #f3eeec;
  color: #ad9246;
  border-color: #ad9246;
}

@media (min-width: 770px) {
  .portfolioInfo__button {
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .portfolioInfo__button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .portfolioInfo__button {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .portfolioInfo__button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.photoboothInfo {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.95))), url(../images/photobooth.jpg) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.95) 100%), url(../images/photobooth.jpg) no-repeat center center/cover;
}

.photoboothInfo__content-title {
  text-transform: uppercase;
  margin-top: 10rem;
  padding: 3rem 4rem;
  font-size: 3rem;
  color: #f3eeec;
  background-color: #e70012;
}

.photoboothInfo__content-info {
  width: 75%;
  margin: 5rem auto 5rem;
  color: #f3eeec;
  font-size: 1.8rem;
}

.photoboothInfo__content-button {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 50%;
  color: #f3eeec;
  background-color: transparent;
  border: 2px solid #e70012;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.photoboothInfo__content-button:hover {
  background-color: #e70012;
  color: #f3eeec;
  border-color: #f3eeec;
}

@media (min-width: 770px) {
  .photoboothInfo__content-button {
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .photoboothInfo__content-button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .photoboothInfo__content-button {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .photoboothInfo__content-button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.contact {
  text-align: center;
}

.contact__form {
  width: 80vw;
  margin: 0 auto;
}

.contact__form-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name' 'email' 'phone' 'subject' 'message' 'message';
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact__form-field {
  position: relative;
}

.contact__form-field--name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.contact__form-field--email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact__form-field--phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact__form-field--subject {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: subject;
}

.contact__form-field--message {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: message;
}

.contact__form-field-input {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding: 1.8rem 0.6rem 0.6rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.contact__form-field-label {
  position: absolute;
  top: 1.4rem;
  left: 0.8rem;
  color: #02040f;
  pointer-events: none;
  font-size: 1rem;
  -webkit-transition: font-weight 0.5s, color 0.5s, font-size 0.5s, -webkit-transform 0.5s;
  transition: font-weight 0.5s, color 0.5s, font-size 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, font-weight 0.5s, color 0.5s, font-size 0.5s;
  transition: transform 0.5s, font-weight 0.5s, color 0.5s, font-size 0.5s, -webkit-transform 0.5s;
}

.contact__form-field-label.js-focus {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
  color: #ad9246;
  font-size: 0.8rem;
}

.contact__form-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 100%;
  color: #02040f;
  background-color: #ad9246;
  border: 2px solid #ad9246;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.contact__form-button:hover {
  background-color: #f3eeec;
  color: #ad9246;
  border-color: #ad9246;
}

@media (min-width: 770px) {
  .contact__form-button {
    font-size: 2.3rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1050px) {
  .contact__form-button {
    font-size: 2.6rem;
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 1200px) {
  .contact__form-button {
    font-size: 2.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .contact__form-button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

.contact__items-container {
  width: 80vw;
  overflow: hidden;
  margin: 3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__item {
  padding: 2rem;
  background-color: #02040f;
  margin-bottom: 1rem;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item-icon {
  width: 30px;
  margin-bottom: 1rem;
}

.contact__item-info {
  color: #f3eeec;
  font-size: 1.4rem;
}

.contact__item-socials {
  width: 30%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__item:last-child {
  margin-bottom: 0;
}

.footer {
  min-height: 30vh;
  background-color: #02040f;
  font-size: 1.4rem;
}

.footer__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-ig-link {
  display: block;
  height: 200px;
  width: 90%;
  margin: 0 auto;
  background: url(../images/ig__link__bg.jpg) no-repeat center center/cover;
  position: relative;
}

.footer__content-ig-link-text {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 70%;
  height: 100px;
  background-color: #02040f;
  color: #ad9246;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__content-ig-link-text::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f3eeec;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.footer__content-ig-link-text:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer__content-items {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content-text {
  color: #f3eeec;
  font-size: 2rem;
}

.footer__content-socials {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offers__tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (60px)[4];
      grid-template-rows: repeat(4, 60px);
  gap: 2rem;
  margin: 3rem 0;
}

.offers__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 3rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #02040f;
  color: #02040f;
  cursor: pointer;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}

.offers__tab.js-active {
  color: #ad9246;
  border-color: #02040f;
  background-color: #02040f;
}

.offers__tab:hover {
  background: #02040f;
  color: #ad9246;
  border-color: #02040f;
}

.offers__panel {
  padding: 2rem 0;
  display: none;
  height: auto;
}

.offers__panel.js-active {
  display: block;
}

.offers__panel-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: #02040f;
}

.offers__panel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.offers__panel-content-packages {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.offers__panel-content-packages--single {
  display: block;
  background-color: #e4e4e4;
}

.offers__panel-content-package {
  width: 100%;
  height: auto;
  padding: 2rem 2rem 2rem 3rem;
  background-color: #e4e4e4;
  text-transform: uppercase;
  text-align: left;
}

.offers__panel-content-package--single {
  width: 100%;
}

.offers__panel-content-package--even {
  background-color: initial;
}

.offers__panel-content-package-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.offers__panel-content-package-desc {
  font-size: 1.5rem;
}

.offers__panel-content-package-list {
  list-style-image: url("../images/tick.png");
  padding: 2rem;
  list-style-type: square;
  font-size: 1.7rem;
  text-transform: initial;
}

.offers__panel-content-package-list-item {
  margin-bottom: 1rem;
}

.photobooth__cover {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 3rem auto;
  background: url("../images/photobooth/1.jpg") no-repeat center top/cover;
}

.photobooth__info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 2rem;
}

.photobooth__info-panel {
  width: 100%;
  height: auto;
  padding: 2rem 2rem 2rem 3rem;
  background-color: #e4e4e4;
  text-transform: uppercase;
  text-align: left;
}

.photobooth__info-panel--even {
  background-color: initial;
}

.photobooth__info-panel-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.photobooth__info-panel-list {
  list-style-image: url("../images/tick.png");
  padding: 2rem;
  list-style-type: square;
  font-size: 1.7rem;
  text-transform: initial;
}

.photobooth__info-panel-list-item {
  margin-bottom: 1rem;
}

.photobooth__photos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.photobooth__photo {
  width: 100%;
  overflow: hidden;
}

.photobooth__photo-item {
  width: 100%;
}

.photobooth__summary {
  width: 100%;
  padding: 3rem 4rem;
}

.photobooth__summary-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.photobooth__summary-text {
  font-size: 1.7rem;
}

.photobooth__summary-text--last {
  font-size: 12rem;
  text-transform: uppercase;
}

.photobooth__summary-link {
  font-weight: bold;
}

.photobooth__summary-link:hover {
  color: #3b5998;
}

.portfolio {
  text-align: center;
  margin: 2rem auto;
}

.glide__slide {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  overflow: hidden;
  width: 100%;
}

.glide__slide--active {
  opacity: 1;
}

@media (min-width: 460px) {
  .text-lead {
    font-size: 2.2rem;
  }
  .section-title {
    font-size: 4rem;
  }
  .hide-small-medium {
    display: none;
  }
  .header__nav-menu-link {
    font-size: 3rem;
  }
  .header__main-text {
    top: 38%;
  }
  .header__main-text-title {
    font-size: 3.5rem;
  }
  .header__main-text-subtitle {
    font-size: 2.5rem;
  }
  .about__content-image {
    width: 50vw;
    margin-top: 2rem;
  }
  .about__content-info {
    width: 70vw;
  }
  .about__content-info-text {
    margin-bottom: 0.8rem;
    font-size: 2rem;
  }
  .offer__item {
    width: 60vw;
    height: 60vw;
  }
  .photoboothInfo__content-info {
    font-size: 2rem;
  }
  .card__front-content-text {
    font-size: 2.5rem;
  }
  .card__back-content-text {
    font-size: 1.8rem;
  }
  .portfolioInfo__gallery {
    -ms-grid-rows: (200px)[2];
        grid-template-rows: repeat(2, 200px);
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
  }
  .contact__form-field-input {
    font-size: 1.6rem;
    padding: 2.4rem 1rem 1rem;
  }
  .contact__form-field-label {
    font-size: 1.4rem;
    top: 1.7rem;
    left: 1rem;
  }
  .contact__item-info {
    font-size: 2rem;
  }
  .offers__panel-content-package-title {
    font-size: 3rem;
  }
  .offers__panel-content-package-desc {
    font-size: 2rem;
  }
  .photobooth__info-panel-title {
    font-size: 3rem;
  }
  .photobooth__summary-title {
    font-size: 3.5rem;
  }
  .photobooth__summary-text {
    font-size: 2rem;
  }
}

@media (min-width: 770px) {
  .text-lead {
    font-size: 3rem;
  }
  .section-title {
    font-size: 5rem;
  }
  .hide-small-medium {
    display: none;
  }
  .header__hamburger {
    width: 60px;
    height: 60px;
  }
  .header__hamburger-bar, .header__hamburger-bar::before, .header__hamburger-bar::after {
    height: 6px;
  }
  .header__hamburger-bar::before {
    top: -22.5px;
  }
  .header__hamburger-bar {
    top: calc(50% - 3px);
  }
  .header__hamburger-bar::after {
    top: 22.5px;
  }
  .header__nav {
    padding: 2rem;
  }
  .header__nav-logo {
    width: 85px;
  }
  .header__nav-logo-image {
    height: 100px;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .header__main-text {
    top: 40%;
    width: 75%;
  }
  .header__main-text-title {
    font-size: 5rem;
    padding: 3rem 4rem;
  }
  .header__main-text-subtitle {
    font-size: 3rem;
  }
  .about__content-info-text {
    font-size: 2.8rem;
  }
  .card__front-content-text {
    font-size: 3.5rem;
  }
  .card__front-content-icon {
    font-size: 50rem;
  }
  .card__back-content {
    padding: 6rem 4rem;
  }
  .card__back-content-text {
    font-size: 2.8rem;
  }
  .portfolioInfo__gallery {
    -ms-grid-rows: (250px)[2];
        grid-template-rows: repeat(2, 250px);
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    margin: 3rem auto;
  }
  .photoboothInfo__content-title {
    font-size: 4rem;
  }
  .photoboothInfo__content-info {
    font-size: 2.5rem;
  }
  .contact__form {
    width: 75vw;
    margin-top: 4rem;
  }
  .contact__form-field {
    margin-bottom: 1rem;
  }
  .contact__form-field-input {
    font-size: 2rem;
    padding: 3rem 1.5rem 1.5rem;
  }
  .contact__form-field-label {
    top: 2.4rem;
    left: 1.5rem;
    font-size: 1.8rem;
  }
  .contact__form-field-label.js-focus {
    font-size: 1.5rem;
  }
  .contact__items-container {
    width: 75vw;
  }
  .contact__item {
    font-size: 1.2rem;
  }
  .contact__item-info {
    font-size: 2.4rem;
  }
  .offers__tabs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (60px)[2];
        grid-template-rows: repeat(2, 60px);
  }
  .offers__panel-content-package {
    padding: 4rem 5rem;
  }
  .offers__panel-content-package-desc {
    font-size: 2.5rem;
  }
  .offers__panel-content-package-list {
    font-size: 2.2rem;
  }
  .photobooth__info-panel {
    padding: 4rem 5rem;
  }
  .photobooth__info-panel-title {
    font-size: 3rem;
  }
  .photobooth__info-panel-list-item {
    font-size: 2.2rem;
  }
  .photobooth__summary-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .photobooth__summary-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 1050px) {
  .hide-small-medium {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  .header__main-text {
    top: 40%;
    width: 70%;
  }
  .header__main-text-title {
    font-size: 6rem;
    padding: 3rem 4rem;
  }
  .header__main-text-subtitle {
    font-size: 3rem;
  }
  .about {
    min-height: 100vh;
  }
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    min-height: 80vh;
    width: 85%;
    margin: 0 auto;
    border: 2px dashed #ad9246;
  }
  .about__content-image {
    width: 35%;
    border-radius: unset;
    margin-right: 2rem;
  }
  .about__content-info {
    width: 65%;
  }
  .about__content-info-text {
    font-size: 2.2rem;
    text-align: center;
  }
  .offer {
    min-height: 100vh;
  }
  .offer__items {
    margin: 5rem 0 2rem;
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .offer__item {
    width: 25vw;
    height: 25vw;
  }
  .card__front-content {
    font-size: 1.5rem;
  }
  .card__front-content-text {
    font-size: 2rem;
  }
  .card__back-content {
    padding: 3rem 4rem;
  }
  .card__back-content-text {
    font-size: 1.7rem;
  }
  .portfolioInfo__gallery {
    -ms-grid-rows: (300px)[2];
        grid-template-rows: repeat(2, 300px);
    -ms-grid-columns: (300px)[2];
        grid-template-columns: repeat(2, 300px);
    margin: 5rem auto;
  }
  .contact__form-fields {
        grid-template-areas: 'name email' 'phone subject' 'message message';
  }
  .contact__items {
    width: 100%;
    background-color: #02040f;
  }
  .contact__items-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75vw;
    height: 280px;
  }
  .contact__item {
    border: 1px solid #323232;
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    height: 200px;
    padding: 1rem 3rem;
    margin: 0;
  }
  .contact__item-info {
    font-size: 2.3rem;
  }
  .contact__item-socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__content-ig-link {
    width: 100%;
  }
  .footer__content-ig-link-text {
    width: 50%;
  }
  .footer__content-socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__content-social--fb {
    margin-right: 2rem;
  }
  .photobooth__photos {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: initial;
        grid-template-rows: initial;
    grid-gap: 2rem;
  }
  .photobooth__photo {
    width: 100%;
    overflow: hidden;
  }
  .photobooth__photo-item {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__hamburger {
    display: none;
  }
  .header--inner .header__nav-overlay-logo {
    top: 3%;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
  }
  .header__nav-overlay {
    position: static;
    -webkit-transform: initial;
            transform: initial;
    background-color: transparent;
    opacity: 1;
    width: 100%;
  }
  .header__nav-logo {
    position: absolute;
    top: 20px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 11;
  }
  .header__nav-logo-image {
    margin: 1rem 0 0;
    padding: 0;
  }
  .header__nav-menu {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #02040f;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 3.3rem;
  }
  .header__nav-menu-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-menu-item {
    margin: 0;
    min-width: 172px;
    margin-right: 0.5rem;
  }
  .header__nav-menu-item--last {
    margin-right: 0;
  }
  .header__nav-menu-link {
    display: inline-block;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 100%;
    font-size: 2.1rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__nav-menu-link:hover, .header__nav-menu-link--active {
    background-color: #02040f;
  }
  .header__main-text-title {
    font-size: 5rem;
    width: 60%;
    margin: 0 auto 2rem;
  }
  .header__main-text-subtitle {
    font-size: 2.5rem;
  }
  .portfolioInfo {
    background-attachment: fixed;
  }
  .photoboothInfo {
    background-attachment: fixed;
  }
  .photoboothInfo__content-title {
    font-size: 6rem;
  }
  .photoboothInfo__content-info {
    font-size: 3rem;
  }
  .contact__form {
    width: 90%;
  }
  .offers__tabs {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: initial;
        grid-template-rows: initial;
  }
  .offers__tab {
    padding: 2rem 3rem;
  }
  .offers__panel-content-packages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .offers__panel-content-packages--single {
    display: block;
    background-color: #e4e4e4;
    padding: 2rem;
  }
  .offers__panel-content-package {
    padding: 3rem 4rem;
  }
  .offers__panel-content-package--single {
    width: 40%;
    margin: 0 auto;
    border: 2px solid #f3eeec;
  }
  .offers__panel-content-package-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .offers__panel-content-package-desc {
    font-size: 2rem;
  }
  .offers__panel-content-package-list {
    font-size: 1.8rem;
  }
  .photobooth__cover {
    height: 500px;
    background-attachment: fixed;
  }
  .photobooth__info {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .photobooth__info-panel {
    padding: 4rem 5rem;
  }
  .photobooth__info-panel-title {
    font-size: 3rem;
  }
  .photobooth__info-panel-list-item {
    font-size: 1.8rem;
  }
  .photobooth__summary-text {
    width: 80%;
    margin: 2rem auto;
  }
}

@media (min-width: 1450px) {
  .header--home {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.6)), to(rgba(0, 0, 0, 0.8))), url(../images/showcase.jpg) no-repeat center 50%/cover;
    background: linear-gradient(to bottom, rgba(149, 149, 149, 0.6), rgba(0, 0, 0, 0.8)), url(../images/showcase.jpg) no-repeat center 50%/cover;
  }
  .header__nav-menu-item {
    min-width: 210px;
    margin-right: 1rem;
  }
  .header__nav-menu-link {
    font-size: 2.6rem;
  }
  .header__main-text-title {
    font-size: 5.5rem;
    width: 48%;
  }
  .header__main-text-subtitle {
    font-size: 2.4rem;
  }
  .about__content {
    width: 100%;
  }
  .about__content-info {
    width: 60%;
  }
  .about__content-info-text {
    font-size: 2.2rem;
  }
  .offer__item {
    width: 18vw;
    height: 18vw;
  }
  .card__front-content-text {
    font-size: 2.3rem;
  }
  .card__back-content-text {
    font-size: 2rem;
  }
  .portfolioInfo__gallery {
    -ms-grid-columns: (300px)[4];
        grid-template-columns: repeat(4, 300px);
    -ms-grid-rows: initial;
        grid-template-rows: initial;
    margin: 2rem auto;
  }
  .portfolioInfo__gallery-item {
    height: 300px;
  }
  .contact__form {
    width: 70%;
  }
  .contact__items-container {
    width: 70%;
    height: 300px;
  }
  .contact__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .contact__item-info {
    font-size: 2.4rem;
  }
}

@media (min-width: 2000px) {
  .offer__item {
    width: 15vw;
    height: 15vw;
  }
}

@media (orientation: landscape) and (max-width: 900px), (orientation: landscape) and (max-height: 500px) {
  .text-lead {
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 3rem;
  }
  .container {
    padding: 1.5rem 2rem;
  }
  .header__hamburger {
    top: 3rem;
  }
  .header__nav {
    padding: 2rem 3rem;
  }
  .header__nav-menu-link {
    font-size: 2rem;
  }
  .header__main-text {
    top: 25%;
    width: 50%;
  }
  .header__main-text-title {
    font-size: 2.5rem;
  }
  .header__main-text-subtitle {
    font-size: 1.8rem;
  }
  .about {
    min-height: 100vh;
  }
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content-image {
    width: 30%;
  }
  .about__content-info {
    width: 50%;
  }
  .about__content-info-text {
    font-size: 1.4rem;
  }
  .portfolioInfo {
    min-height: 100vh;
  }
  .portfolioInfo__gallery {
    -ms-grid-columns: (130px)[4];
        grid-template-columns: repeat(4, 130px);
    -ms-grid-rows: initial;
        grid-template-rows: initial;
    margin: 2rem auto;
    height: 150px;
  }
  .portfolioInfo__gallery-item {
    height: 130px;
  }
  .offer {
    min-height: 100vh;
  }
  .offer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 24vw;
    margin: 0;
    padding: 0;
  }
  .offer__item {
    width: 20vw;
    height: 20vw;
  }
  .card__front-content {
    font-size: 0.8rem;
  }
  .card__front-content-text {
    font-size: 1.3rem;
  }
  .card__back-content {
    padding: 1rem;
  }
  .card__back-content-text {
    font-size: 1rem;
    min-height: initial;
  }
  .contact__form-fields {
        grid-template-areas: 'name email' 'phone subject' 'message message';
  }
  .contact__form-field-input {
    font-size: 1.3rem;
    padding: 1.6rem 1rem 0.8rem;
  }
  .contact__form-field-label {
    font-size: 1.1rem;
    top: 1.7rem;
    left: 1.1rem;
  }
  .contact__form-field-label.js-focus {
    font-size: 0.8rem;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  .contact__items {
    width: 100%;
    background-color: #02040f;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__items-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  .contact__item {
    border: 1px solid #323232;
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    font-size: 0.8rem;
    margin: 0;
  }
  .contact__item-info {
    font-size: 1.5rem;
  }
  .contact__item-socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2rem;
  }
  .footer__socials {
    margin: 0;
  }
  .footer__social {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .section-title {
    margin: 1rem 0;
  }
  .about__content-info-text {
    font-size: 1.2rem;
  }
  .portfolioInfo__gallery {
    height: 135px;
    margin: 1rem auto;
  }
  .offer {
    height: 100vh;
  }
  .offer__item {
    width: 24vw;
    height: 24vw;
  }
}

p {
  font-family: Open Sans, sans-serif;
}
/*# sourceMappingURL=main.css.map */