* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: map-get($fonts, main);
  background-color: $light-color;
  color: $dark-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
