* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: map-get($fonts, main);
  background-color: $light-color;
  color: $dark-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
