.footer {
  min-height: 30vh;
  background-color: $dark-color;
  font-size: 1.4rem;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-ig-link {
      display: block;
      height: 200px;
      width: 90%;
      margin: 0 auto;
      background: url(../images/ig__link__bg.jpg) no-repeat center 20% / cover;
      position: relative;

      &-text {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        width: 70%;
        height: 100px;
        background-color: $dark-color;
        color: $main-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
          content: '';
          @include position(absolute, 0, 0, 0, 0);
          background-color: $light-color;
          z-index: -1;
          transform: scale(0);
          transition: transform 0.6s ease-in-out;
        }

        &:hover::before {
          transform: scale(1);
        }
      }
    }

    &-items {
      margin-top: 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-text {
      color: $light-color;
      font-size: 2rem;
    }

    &-social {
      fill: $light-color;
      transition: 0.3s;

      &--fb:hover {
        fill: #4267b2;
      }

      &--ig:hover {
        fill: url(#ig-logo-gradient);
      }
    }
  }
}
