.about {
  background: url('../images/about_bcg.svg') no-repeat left bottom/cover,
    $main-color;

  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 2;

    &-photo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 40vh;
      margin-bottom: 2rem;
      &-image {
        width: 100%;
        border-radius: 50%;
      }

      &-link {
        display: block;
        background-color: $dark-color;
        color: $light-color;
        width: 100%;
        padding: 2rem 1.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $main-color;
        }
      }
    }

    &-info {
      width: 70vw;
      &-text {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
      }
    }
  }
}

.portfolioInfo {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/portfolio_bg.jpg) no-repeat center center/cover;

  &__title {
    margin-bottom: 0;
  }

  &__gallery {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;

    &-item {
      position: relative;
      overflow: hidden;
      width: 250px;
      height: 250px;
      margin-bottom: 3rem;
      border: 2px solid $dark-color;

      &:hover {
        .portfolioInfo__gallery-image {
          transform: scale(1.2);
        }
      }
    }

    &-image {
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s linear;
    }
  }

  &__button {
    @include button(
      2rem,
      $light-color,
      $dark-color,
      $dark-color,
      $main-color,
      $light-color,
      false,
      60%
    );
  }
}

.offer {
  background: url('../images/offer_bcg.svg') no-repeat left bottom/cover,
    $light-color;
  &__description {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;

    &--more {
      overflow: hidden;
      height: auto;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;

      &.js-show {
        max-height: 800px;
      }
    }

    &-arrow {
      width: 15%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.15s ease-in-out;
      &-item {
        width: 3rem;
        height: 3rem;
        border-style: solid;
        border-color: $main-color;
        border-width: 0 0.5rem 0.5rem 0;
        transform: rotate(45deg);
        transition: border-width 0.15s ease-in-out 0.15s,
          margin 0.15s ease-in-out 0.15s;

        &.closed {
          margin-top: 2rem;
          border-width: 0.5rem 0 0 0.5rem;
        }
      }

      &:hover {
        transform: translateY(12%);
      }
    }

    &-item {
      margin-bottom: 1rem;
    }
  }

  &__items {
    margin: 3rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__item {
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 3rem;
  }

  &__button {
    @include button(
      2rem,
      $dark-color,
      $main-color,
      $main-color,
      $dark-color,
      $light-color,
      true,
      60%
    );
  }
}

// Flipping cards
.card {
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:hover {
    .card__front {
      transform: perspective(1200px) rotateY(-180deg);
    }

    .card__back {
      transform: perspective(1200px) rotateY(0deg);
    }
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    @include position(absolute);
    backface-visibility: hidden;
    transition: transform 0.6s linear;
  }

  &__front {
    transform: perspective(1200px) rotateY(0deg);
    border: 2px solid $dark-color;

    &-content {
      height: 100%;
      padding: 5rem 0;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-icon {
        color: $main-color;
        margin-bottom: 2rem;
      }
    }
  }

  &__back {
    background-color: $main-color;
    transform: perspective(1200px) rotateY(180deg);
    border: 2px solid $dark-color;
    padding: 1rem;
    cursor: initial;

    &-image {
      width: 100%;
    }
  }
}

.photoboothInfo {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0.65) 50%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url(../images/photobooth.jpg) no-repeat center center/cover;

  &__content {
    &-title {
      text-transform: uppercase;
      margin-top: 10rem;
      padding: 3rem 4rem;
      font-size: 3rem;
      color: $light-color;
      background-color: #e70012;
    }

    &-info {
      width: 75%;
      margin: 5rem auto 5rem;
      color: $light-color;
      font-size: 1.8rem;
    }

    &-button {
      @include button(
        2rem,
        $light-color,
        transparent,
        #e70012,
        $light-color,
        #e70012,
        false,
        60%
      );
    }
  }
}

.contact {
  text-align: center;

  &__alert {
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    color: #fff;
    text-align: center;

    &--success {
      background-color: #326632;
    }

    &--fail {
      background-color: #da3434;
    }
  }

  &__form {
    width: 80vw;
    margin: 0 auto;

    &-fields {
      display: grid;
      grid-template-areas:
        'name'
        'email'
        'phone'
        'subject'
        'message'
        'message';
      gap: 1rem;
      margin-bottom: 1.5rem;
    }

    &-field {
      position: relative;
      &--name {
        grid-area: name;
      }
      &--email {
        grid-area: email;
      }
      &--phone {
        grid-area: phone;
      }
      &--subject {
        grid-area: subject;
      }
      &--message {
        grid-area: message;
      }

      &-input {
        width: 100%;
        height: 100%;
        box-shadow: none;
        outline: none;
        padding: 1.8rem 0.6rem 0.6rem;
        font-size: 1.2rem;
        font-family: inherit;
      }

      &-label {
        @include position(absolute, 1.4rem, null, null, 0.8rem);
        color: $dark-color;
        pointer-events: none;
        font-size: 1rem;
        transition: transform 0.5s, font-weight 0.5s, color 0.5s, font-size 0.5s;

        &.js-focus {
          transform: translateY(-50%);
          font-weight: bold;
          color: $main-color;
          font-size: 0.8rem;
        }
      }
    }

    &-button {
      @include button(
        1.8rem,
        $dark-color,
        $main-color,
        $main-color,
        $main-color,
        $light-color,
        null,
        100%
      );
    }
  }

  &__items-container {
    width: 80vw;
    overflow: hidden;
    margin: 3rem auto 1rem;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 2rem;
    background-color: $dark-color;
    margin-bottom: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-icon {
      width: 30px;
      margin-bottom: 1rem;
    }

    &-info {
      color: $light-color;
      font-size: 1.8rem;
    }

    &-socials {
      width: 30%;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
    }

    &-social {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      &-icon {
        fill: $main-color;
        transition: 0.3s;

        &--fb:hover {
          fill: #4267b2;
        }

        &--ig:hover {
          fill: url(#ig-logo-gradient);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address-info {
    &-container {
      width: 80vw;
      overflow: hidden;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    &-item {
      padding: 2rem;
      background-color: $dark-color;
      min-height: 180px;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--map {
        border: 1px solid $dark-color;
      }

      &-text {
        color: $light-color;
        font-size: 1.8rem;
      }
    }

    &-summary {
      padding: 2rem;
      background-color: $dark-color;
      color: $light-color;
      width: 80vw;
      margin: 0 auto;
      font-size: 1.8rem;

      &-strong {
        color: $main-color;
      }
    }
  }
}
