.header {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(149, 149, 149, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/showcase.jpg) no-repeat 60% bottom/cover;

  &__hamburger {
    @include position(fixed, 4.5rem, 4rem);
    z-index: 10;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &.js-menu-open {
      .header__hamburger-bar {
        background-color: transparent;

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }

        &::before,
        &::after {
          top: 0;
        }
      }
    }

    &-bar,
    &-bar::before,
    &-bar::after {
      width: 100%;
      content: '';
      @include position(absolute, 0, 0, 0, 0);
      height: 5px;
      background-color: #000;
      transition: 0.2s;
    }

    &-bar::before {
      top: -17px;
    }

    &-bar {
      top: calc(50% - 2.5px);
    }

    &-bar::after {
      top: 17px;
    }
  }

  &__nav {
    padding: 4rem 3rem;
    width: 100%;
    display: flex;

    &-logo {
      width: 70px;

      &-image {
        height: 70px;
      }
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.9);
      @include position(fixed, 0, 0, 0, 0);
      z-index: 5;
      transform: scale(0);
      opacity: 0;
      transition: scale 0.6s, opacity 0.6s;

      &.js-menu-open {
        transform: scale(1);
        opacity: 1;
      }
    }

    &-menu {
      @include position(relative);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $light-color;

      &-item {
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      &-link {
        font-size: 2rem;
        transition: color 0.2s;

        &:hover,
        &.active:hover {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }

  &__main-text {
    @include position(absolute, 30%, 50%);
    transform: translateX(50%);
    width: 65%;

    &-title {
      font-size: 3rem;
      color: #fff;
      padding: 2rem 3rem;
      background-color: #000;
      margin-bottom: 2rem;
    }

    &-subtitle {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: normal;
      color: $main-color;
    }

    &-button {
      @include button(
        2rem,
        $light-color,
        transparent,
        $light-color,
        $light-color,
        transparent,
        true,
        false
      );
    }
  }
}

.about {
  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      width: 50vw;
      margin-bottom: 4rem;
      border-radius: 50%;
    }

    &-info {
      width: 70vw;
      &-text {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
      }
    }
  }
}

.offer {
  // padding-bottom: 4rem;
  &__items {
    margin: 3rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__item {
    position: relative;
    width: 80vw;
    height: 80vw;
    margin-bottom: 3rem;
  }

  &__button {
    @include button(
      2rem,
      $dark-color,
      $main-color,
      $main-color,
      $dark-color,
      $light-color,
      false,
      60%
    );
  }
}

// Flipping cards
.card {
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:hover {
    .card__front {
      transform: perspective(1200px) rotateY(-180deg);
    }

    .card__back {
      transform: perspective(1200px) rotateY(0deg);
    }
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    @include position(absolute);
    backface-visibility: hidden;
    transition: transform 0.6s linear;
  }

  &__front {
    transform: perspective(1200px) rotateY(0deg);
    border: 2px solid $dark-color;

    &-content {
      height: 100%;
      padding: 5rem 0;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-icon {
        color: $main-color;
        margin-bottom: 2rem;
      }
    }
  }

  &__back {
    background-color: $light-color;
    transform: perspective(1200px) rotateY(180deg);
    border: 2px solid $dark-color;

    &-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3rem 2rem;
      font-size: 1.8rem;

      &-text {
        text-align: justify;
        min-height: 120px;
      }

      &-button {
        @include button(
          1.8rem,
          $dark-color,
          $main-color,
          $main-color,
          $main-color,
          $light-color,
          false,
          100%
        );
      }
    }
  }
}

.portfolio {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/portfolio_bg.jpg) no-repeat center center/cover;

  &__title {
    margin-bottom: 0;
  }

  &__gallery {
    height: 60vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2, 130px);
    gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-content: center;
    margin: 2rem auto;

    &-item {
      position: relative;
      overflow: hidden;
      border: 2px solid $dark-color;

      &:hover {
        .portfolio__gallery-image {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }

    &-image {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.2s linear;
    }
  }

  &__button {
    @include button(
      2rem,
      $light-color,
      $dark-color,
      $dark-color,
      $main-color,
      $light-color,
      false,
      50%
    );
  }
}

.contact {
  text-align: center;
  &__form {
    width: 80vw;
    margin: 0 auto;

    &-fields {
      display: grid;
      grid-template-areas:
        'name'
        'email'
        'phone'
        'subject'
        'message'
        'message';
      gap: 1rem;
      margin-bottom: 1.5rem;
    }

    &-field {
      position: relative;
      // height: 3rem;
      &--name {
        grid-area: name;
      }
      &--email {
        grid-area: email;
      }
      &--phone {
        grid-area: phone;
      }
      &--subject {
        grid-area: subject;
      }
      &--message {
        grid-area: message;
      }

      &-input {
        width: 100%;
        height: 100%;
        box-shadow: none;
        outline: none;
        padding: 1.8rem 0.6rem 0.6rem;
        font-size: 1.2rem;
        font-family: inherit;
      }

      &-label {
        @include position(absolute, 1.4rem, null, null, 0.8rem);
        color: $dark-color;
        pointer-events: none;
        font-size: 1rem;
        transition: transform 0.5s, font-weight 0.5s, color 0.5s, font-size 0.5s;

        &.js-focus {
          transform: translateY(-50%);
          font-weight: bold;
          color: $main-color;
          font-size: 0.8rem;
        }
      }
    }

    &-button {
      @include button(
        1.8rem,
        $dark-color,
        $main-color,
        $main-color,
        $main-color,
        $light-color,
        null,
        100%
      );
    }
  }

  &__items-container {
    width: 80vw;
    overflow: hidden;
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 2rem;
    background-color: $dark-color;
    margin-bottom: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-icon {
      color: $main-color;
      margin-bottom: 1rem;
    }

    &-info {
      color: $light-color;
      font-size: 1.4rem;
    }

    &-socials {
      width: 30%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-around;
    }

    &-social-icon {
      color: $main-color;
      transition: transform 0.3s;

      &--ig {
        &:hover {
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &--fb {
        &:hover {
          color: #4267b2;
        }
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer {
  min-height: 30vh;
  background-color: $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  &__text {
    color: $light-color;
  }

  &__socials {
    width: 20%;
    margin: 1rem auto 0;
    display: flex;
    justify-content: space-around;
  }

  &__social {
    color: $light-color;
    font-size: 2.4rem;
    transition: 0.3s;

    &--fb:hover {
      color: #4267b2;
    }

    &--ig:hover {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
