// 460px
@include mQ(small) {
  .text-lead {
    font-size: 2.2rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .hide-small-medium {
    display: none !important;
  }

  .header {
    &__nav {
      &-menu {
        &-link {
          font-size: 3rem;
        }
      }
    }
    &__main-text {
      top: 38%;

      &-title {
        font-size: 3.5rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }
    }
  }

  .about {
    &__content {
      &-image {
        width: 50vw;
        margin-top: 2rem;
      }
      &-info {
        width: 70vw;
        &-text {
          margin-bottom: 0.8rem;
          font-size: 2rem;
        }
      }
    }
  }

  .offer {
    &__item {
      width: 60vw;
      height: 60vw;
    }
  }

  .photoboothInfo {
    &__content {
      &-info {
        font-size: 2rem;
      }
    }
  }

  .card {
    &__front {
      &-content-text {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__form {
      &-field {
        &-input {
          font-size: 1.6rem;
          padding: 2.4rem 1rem 1rem;
        }

        &-label {
          font-size: 1.4rem;
          top: 1.7rem;
          left: 1rem;
        }
      }
    }

    &__item {
      &-info {
        font-size: 2rem;
      }
    }
  }

  .offers {
    &__panel {
      &-content {
        &-package {
          &-title {
            font-size: 3rem;
          }

          &-desc {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .photobooth {
    &__info {
      &-panel {
        &-title {
          font-size: 3rem;
        }
      }
    }

    &__summary {
      &-title {
        font-size: 3.5rem;
      }

      &-text {
        font-size: 2rem;
      }
    }
  }
}

// 770px
@include mQ(medium) {
  .text-lead {
    font-size: 3rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .hide-small-medium {
    display: none !important;
  }

  .header__hamburger {
    width: 60px;
    height: 60px;

    &-bar,
    &-bar::before,
    &-bar::after {
      height: 6px;
    }

    &-bar::before {
      top: -22.5px;
    }

    &-bar {
      top: calc(50% - 3px);
    }

    &-bar::after {
      top: 22.5px;
    }
  }

  .header__nav {
    padding: 2rem;
    &-logo {
      width: 85px;

      &-image {
        height: 100px;
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }
  }

  .header__main-text {
    top: 40%;
    width: 75%;

    &-title {
      font-size: 5rem;
      padding: 3rem 4rem;
    }

    &-subtitle {
      font-size: 3rem;
    }
  }

  .about__content-info-text {
    font-size: 2.8rem;
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 3.5rem;
        }

        &-icon {
          font-size: 50rem;
        }
      }
    }
  }

  .portfolioInfo__gallery {
    grid-template-rows: repeat(3, 260px);
    grid-template-columns: 100%;
    margin: 3rem auto;
  }

  .photoboothInfo {
    &__content {
      &-title {
        font-size: 4rem;
      }
      &-info {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__form {
      width: 75vw;
      margin-top: 4rem;

      &-field {
        margin-bottom: 1rem;
        &-input {
          font-size: 2rem;
          padding: 3rem 1.5rem 1.5rem;
        }

        &-label {
          top: 2.4rem;
          left: 1.5rem;
          font-size: 1.8rem;

          &.js-focus {
            font-size: 1.5rem;
          }
        }
      }
    }

    &__items-container {
      width: 75vw;
    }

    &__item {
      font-size: 1.2rem;
      &-info {
        font-size: 2.4rem;
      }
    }
  }

  .offers {
    &__tabs {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 60px);
    }

    &__panel {
      &-content {
        &-package {
          padding: 4rem 5rem;
          &-desc {
            font-size: 2.5rem;
          }

          &-list {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  .photobooth {
    &__info {
      &-panel {
        padding: 4rem 5rem;
        &-title {
          font-size: 3rem;
        }
        &-list {
          &-item {
            font-size: 2.2rem;
          }
        }
      }
    }

    &__summary {
      &-title {
        font-size: 4rem;
        margin: 3rem 0;
      }

      &-text {
        font-size: 2.5rem;
      }
    }
  }
}

// 1050px
@include mQ(large) {
  .hide-small-medium {
    display: block !important;
  }

  .hide-desktop {
    display: none !important;
  }

  .header__main-text {
    top: 40%;
    width: 70%;

    &-title {
      font-size: 6rem;
      padding: 3rem 4rem;
    }

    &-subtitle {
      font-size: 3rem;
    }
  }

  .about {
    min-height: 100vh;
    &__content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      min-height: 80vh;
      width: 85%;
      margin: 0 auto;
      border: 2px dashed $main-color;

      &-image {
        width: 35%;
        border-radius: unset;
        margin-right: 2rem;
      }

      &-info {
        width: 65%;

        &-text {
          font-size: 2.2rem;
          text-align: center;
        }
      }
    }
  }

  .offer {
    min-height: 100vh;
    &__items {
      margin: 5rem 0 2rem;
      min-height: 60vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
    &__item {
      width: 25vw;
      height: 25vw;
    }
  }

  .card {
    &__front {
      &-content {
        font-size: 1.5rem;

        &-text {
          font-size: 2rem;
        }
      }
    }
  }

  .portfolioInfo__gallery {
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: 80%;
    margin: 5rem auto;
  }

  .contact {
    &__form {
      &-fields {
        grid-template-areas:
          'name email'
          'phone subject'
          'message message';
      }
    }

    &__items {
      width: 100%;
      background-color: $dark-color;
    }

    &__items-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 75vw;
      height: 280px;
    }

    &__item {
      border: 1px solid darken($medium-color, 70%);
      flex-basis: 24%;
      height: 200px;
      padding: 1rem 3rem;
      margin: 0;

      &-info {
        font-size: 2.3rem;
      }

      &-socials {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .footer {
    &__content {
      &-ig-link {
        width: 100%;

        &-text {
          width: 50%;
        }
      }

      &-socials {
        justify-content: center;
      }

      &-social {
        &--fb {
          margin-right: 2rem;
        }
      }
    }
  }

  .photobooth {
    &__photos {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: initial;
      grid-gap: 2rem;
    }

    &__photo {
      width: 100%;
      overflow: hidden;

      &-item {
        width: 100%;
      }
    }
  }
}

// 1200px
@include mQ(xlarge) {
  .header {
    &__hamburger {
      display: none;
    }

    &--inner {
      .header__nav-overlay-logo {
        top: 3%;
      }
    }

    &__nav {
      justify-content: space-between;
      padding: 0 1rem;

      &-overlay {
        position: static;
        transform: initial;
        background-color: transparent;
        opacity: 1;
        width: 100%;
      }

      &-logo {
        @include position(absolute, 20px, 50%, null, null);
        transform: translateX(50%);
        z-index: 11;

        &-image {
          margin: 1rem 0 0;
          padding: 0;
        }
      }

      &-menu {
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        color: $dark-color;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 3.3rem;

        &-half {
          display: flex;
          justify-content: space-between;
        }

        &-item {
          margin: 0;
          min-width: 172px;
          margin-right: 0.5rem;

          &--last {
            margin-right: 0;
          }
        }

        &-link {
          display: inline-block;
          padding: 1.5rem 2rem;
          width: 100%;
          height: 100%;
          font-size: 2.1rem;
          transition: 0.5s;

          &:hover,
          &--active {
            background-color: $dark-color;
          }
        }
      }
    }

    &__main-text {
      &-title {
        font-size: 5rem;
        width: 60%;
        margin: 0 auto 2rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }
    }
  }

  .portfolioInfo {
    background-attachment: fixed;

    &__gallery {
      grid-template-rows: 250px;
      grid-template-columns: repeat(3, 330px);
      gap: 3rem;
    }
  }

  .photoboothInfo {
    background-attachment: fixed;
    &__content {
      &-title {
        font-size: 6rem;
      }
      &-info {
        font-size: 3rem;
      }
    }
  }

  .contact {
    &__form {
      width: 90%;
    }
  }

  .offers {
    &__tabs {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: initial;
    }

    &__tab {
      padding: 2rem 3rem;
    }

    &__panel {
      &-content {
        &-packages {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          &--single {
            display: block;
            background-color: $medium-color;
            padding: 2rem;
          }
        }
        &-package {
          padding: 3rem 4rem;

          &--single {
            width: 40%;
            margin: 0 auto;
            border: 2px solid $light-color;
          }
          &-title {
            font-size: 3rem;
            margin-bottom: 1rem;
          }

          &-desc {
            font-size: 2rem;
          }

          &-list {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .photobooth {
    &__cover {
      height: 500px;
      background-attachment: fixed;
    }
    &__info {
      grid-template-columns: repeat(3, 1fr);
      &-panel {
        padding: 4rem 5rem;
        &-title {
          font-size: 3rem;
        }
        &-list {
          &-item {
            font-size: 1.8rem;
          }
        }
      }
    }
    &__summary {
      &-text {
        width: 80%;
        margin: 2rem auto;
      }
    }
  }
}

// 1450px
@include mQ(xxlarge) {
  .header {
    &--home {
      background: linear-gradient(
          to bottom,
          rgba(149, 149, 149, 0.6),
          rgba(0, 0, 0, 0.8)
        ),
        url(../images/showcase.jpg) no-repeat center 50% / cover;
    }

    &__nav {
      &-menu {
        &-item {
          min-width: 210px;
          margin-right: 1rem;
        }

        &-link {
          font-size: 2.6rem;
        }
      }
    }

    &__main-text {
      &-title {
        font-size: 5.5rem;
        width: 48%;
      }

      &-subtitle {
        font-size: 2.4rem;
      }
    }
  }

  .about {
    &__content {
      width: 100%;

      &-info {
        width: 60%;

        &-text {
          font-size: 2.2rem;
        }
      }
    }
  }

  .offer {
    &__item {
      width: 18vw;
      height: 18vw;
    }
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 2.3rem;
        }
      }
    }
  }

  .portfolioInfo__gallery {
    grid-template-rows: 300px;
    grid-template-columns: repeat(3, 530px);
    margin: 2rem auto;
  }

  .contact {
    &__form {
      width: 70%;
    }

    &__items-container {
      width: 70%;
      height: 300px;
    }
    &__item {
      flex-basis: 30%;
      &-info {
        font-size: 2.4rem;
      }
    }
  }
}

// 2000px
@include mQ(giga) {
  .offer {
    &__item {
      width: 15vw;
      height: 15vw;
    }
  }
}

// lanscape
@media (orientation: landscape) and (max-width: 900px),
  (orientation: landscape) and (max-height: 500px) {
  .text-lead {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .container {
    padding: 1.5rem 2rem;
  }
  .header {
    &__hamburger {
      top: 3rem;
    }

    &__nav {
      padding: 2rem 3rem;

      &-menu {
        &-link {
          font-size: 2rem;
        }
      }
    }

    &__main-text {
      top: 25%;
      width: 50%;

      &-title {
        font-size: 2.5rem;
      }

      &-subtitle {
        font-size: 1.8rem;
      }
    }
  }

  .about {
    min-height: 100vh;
    &__content {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &-image {
        width: 30%;
      }

      &-info {
        width: 50%;

        &-text {
          font-size: 1.4rem;
        }
      }
    }
  }

  .portfolioInfo {
    min-height: 100vh;
    &__gallery {
      grid-template-columns: repeat(4, 130px);
      grid-template-rows: initial;
      margin: 2rem auto;
      height: 150px;

      &-item {
        height: 130px;
      }
    }
  }

  .offer {
    min-height: 100vh;

    &__items {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 24vw;
      margin: 0;
      padding: 0;
    }

    &__item {
      width: 20vw;
      height: 20vw;
    }
  }

  .card {
    &__front {
      &-content {
        font-size: 0.8rem;

        &-text {
          font-size: 1.3rem;
        }
      }
    }
  }

  .contact {
    &__form {
      &-fields {
        grid-template-areas:
          'name email'
          'phone subject'
          'message message';
      }

      &-field {
        &-input {
          font-size: 1.3rem;
          padding: 1.6rem 1rem 0.8rem;
        }

        &-label {
          font-size: 1.1rem;
          top: 1.7rem;
          left: 1.1rem;

          &.js-focus {
            font-size: 0.8rem;
            transform: translateY(-60%);
          }
        }
      }
    }

    &__items {
      width: 100%;
      background-color: $dark-color;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
      }
    }

    &__item {
      border: 1px solid darken($medium-color, 70%);
      flex-basis: 24%;
      font-size: 0.8rem;
      margin: 0;

      &-info {
        font-size: 1.5rem;
      }

      &-socials {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .footer {
    &__content {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
    }

    &__socials {
      margin: 0;
    }

    &__social {
      font-size: 2.5rem;
    }
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .section-title {
    margin: 1rem 0;
  }
  .about {
    &__content {
      &-info {
        &-text {
          font-size: 1.2rem;
        }
      }
    }
  }

  .portfolioInfo__gallery {
    height: 135px;
    margin: 1rem auto;
  }

  .offer {
    height: 100vh;

    &__item {
      width: 24vw;
      height: 24vw;
    }
  }
}
