// 460px
@include mQ(small) {
  .text-lead {
    font-size: 2.2rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .hide-small-medium {
    display: none !important;
  }

  .header {
    &__nav {
      &-menu {
        &-link {
          font-size: 3rem;
        }
      }
    }
    &__main-text {
      top: 38%;

      &-title {
        font-size: 3.5rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }
    }
  }

  .about {
    &__content {
      &-photo {
        width: 45vw;
        height: 45vh;
      }
      &-info {
        width: 70vw;
        &-text {
          margin-bottom: 0.8rem;
          font-size: 2rem;
        }
      }
    }
  }

  .portfolioInfo {
    &__gallery {
      &-item {
        width: 60vw;
        height: 60vw;
      }
    }
  }

  .offer {
    &__description {
      font-size: 1.8rem;
    }

    &__item {
      width: 60vw;
      height: 60vw;
    }
  }

  .photoboothInfo {
    &__content {
      &-info {
        font-size: 2rem;
      }
    }
  }

  .card {
    &__front {
      &-content-text {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__form {
      &-field {
        &-input {
          font-size: 1.6rem;
          padding: 2.4rem 1rem 1rem;
        }

        &-label {
          font-size: 1.4rem;
          top: 1.7rem;
          left: 1rem;
        }
      }
    }

    &__item {
      &-info {
        font-size: 2rem;
      }
    }
  }

  .offers {
    &__panel {
      &-content {
        &-package {
          &-title {
            font-size: 3rem;
          }

          &-desc {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .portfolio {
    &__category {
      width: 70%;
    }
  }

  .photobooth {
    &__info {
      &-panel {
        &-title {
          font-size: 3rem;
        }
      }
    }

    &__summary {
      &-title {
        font-size: 3.5rem;
      }

      &-text {
        font-size: 2rem;
      }
    }
  }

  .faq {
    &__accordion {
      &-item {
        &-question {
          &-text {
            font-size: 2rem;
            width: 90%;
          }

          &-icons {
            &-plus,
            &-minus {
              width: 20px;
            }
          }
        }

        &-answer {
          &-text {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .contact-popup {
    left: initial;
    max-width: 400px;
  }
}

// 770px
@include mQ(medium) {
  .text-lead {
    font-size: 3rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .hide-small-medium {
    display: none !important;
  }

  .header {
    &--inner {
      min-height: 140px;
    }
    &__hamburger {
      width: 60px;
      height: 60px;

      &-bar,
      &-bar::before,
      &-bar::after {
        height: 6px;
      }

      &-bar::before {
        top: -22.5px;
      }

      &-bar {
        top: calc(50% - 3px);
      }

      &-bar::after {
        top: 22.5px;
      }
    }

    &__nav {
      padding: 2rem;
      &-logo {
        width: 85px;

        &-image {
          height: 100px;
          margin-top: 1rem;
          margin-left: 2rem;
        }
      }
    }

    &__picture {
      bottom: 0;
      left: 0;
      height: 100%;
      transform: initial;
    }

    &__main-text {
      top: 40%;
      width: 75%;

      &-title {
        font-size: 5rem;
        padding: 3rem 4rem;
      }

      &-subtitle {
        font-size: 3rem;
      }
    }
  }

  .about {
    &__content {
      &-photo {
        width: 38vw;
        height: 50vh;
      }
      &-info {
        &-text {
          font-size: 2.8rem;
        }
      }
    }
  }

  .offer {
    &__description {
      font-size: 2.5rem;
    }

    &__item {
      width: 60vw;
      height: 60vw;
    }
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 3.5rem;
        }
      }
    }
  }

  .photoboothInfo {
    &__content {
      &-title {
        font-size: 4rem;
      }
      &-info {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__form {
      width: 75vw;
      margin-top: 4rem;

      &-field {
        margin-bottom: 1rem;
        &-input {
          font-size: 2rem;
          padding: 3rem 1.5rem 1.5rem;
        }

        &-label {
          top: 2.4rem;
          left: 1.5rem;
          font-size: 1.8rem;

          &.js-focus {
            font-size: 1.5rem;
          }
        }
      }
    }

    &__items-container,
    &__address-info-container,
    &__address-info-summary {
      width: 75vw;
    }

    &__item {
      font-size: 1.2rem;
      &-info {
        font-size: 2.4rem;
      }
    }

    &__address-info {
      &-item {
        &-text {
          font-size: 2.4rem;
        }
      }

      &-summary {
        font-size: 2.4rem;
        padding: 2rem 3rem;
      }
    }
  }

  .offers {
    &__tabs {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 60px);
    }

    &__panel {
      &-content {
        &-package {
          padding: 4rem 5rem;
          &-desc {
            font-size: 2.5rem;
          }

          &-list {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  .footer {
    &__content {
      &-items {
        flex-direction: row;
      }

      &-socials {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .portfolio {
    &__categories {
      flex-direction: row;
      justify-content: space-around;
    }

    &__category {
      width: 40%;
      margin-bottom: 0;
    }
  }

  .photobooth {
    &__info {
      &-panel {
        padding: 4rem 5rem;
        &-title {
          font-size: 3rem;
        }
        &-list {
          &-item {
            font-size: 2.2rem;
          }
        }
      }
    }

    &__summary {
      &-title {
        font-size: 4rem;
        margin: 3rem 0;
      }

      &-text {
        font-size: 2.5rem;
      }
    }
  }

  .faq {
    &__accordion {
      &-item {
        &-question {
          padding: 2.5rem 3rem;
          &-text {
            font-size: 2.5rem;
          }

          &-icons {
            &-plus,
            &-minus {
              width: 25px;
            }
          }
        }

        &-answer {
          &-text {
            font-size: 2rem;
            padding: 2.5rem 3rem;
          }
        }
      }
    }
  }
}

// 1050px
@include mQ(large) {
  .hide-small-medium {
    display: block !important;
  }

  .hide-desktop {
    display: none !important;
  }

  .header__main-text {
    top: 40%;
    width: 70%;

    &-title {
      font-size: 6rem;
      padding: 3rem 4rem;
    }

    &-subtitle {
      font-size: 3rem;
    }
  }

  .about {
    min-height: 100vh;

    &__content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      min-height: 80vh;
      width: 95%;
      margin: 0 auto;
      border: 2px dashed lighten($main-color, 30%);

      &-photo {
        height: 70vh;
        margin-bottom: 0;

        &-image {
          border-radius: initial;
          width: 65%;
        }

        &-link {
          width: 70%;
        }
      }

      &-info {
        width: 60%;
        text-align: left;

        &-text {
          font-size: 1.8rem;
          background-color: $light-color;
          display: inline-block;
          width: auto;
          padding: 0.5rem 2rem;
        }
      }
    }
  }

  .portfolioInfo {
    &__gallery {
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-item {
        width: 25vw;
        height: 25vw;
      }
    }
  }

  .offer {
    min-height: 100vh;

    &__description {
      width: 80%;
      font-size: 1.8rem;
      margin-top: 4rem;
      text-align: center;
      &-item {
        margin-bottom: 0.6rem;
      }
    }

    &__items {
      width: 90%;
      margin: 5rem auto 2rem;
      min-height: 30vh;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    &__item {
      width: 23vw;
      height: 23vw;
    }
  }

  .card {
    &__front {
      &-content {
        font-size: 1.5rem;

        &-text {
          font-size: 2rem;
        }
      }
    }
  }

  .contact {
    &__form {
      &-fields {
        grid-template-areas:
          'name email'
          'phone subject'
          'message message';
      }
    }

    &__items {
      width: 100%;
      background-color: $dark-color;
      margin-bottom: 2rem;

      &-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75vw;
        height: 280px;
      }
    }

    &__item {
      border: 1px solid darken($medium-color, 70%);
      flex-basis: 24%;
      height: 200px;
      padding: 1rem 3rem;
      margin: 0;

      &-info {
        font-size: 2.3rem;
      }

      &-socials {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }

    &__address-info {
      margin-top: -2rem;
      width: 100%;
      background-color: $dark-color;

      &-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75vw;
        padding: 0;
      }

      &-item {
        border: 1px solid darken($medium-color, 70%);
        flex-basis: 49%;
        height: 220px;
        margin: 0;
        padding: 2rem 3rem;

        &--map {
          padding: 0;
        }

        &-text {
          font-size: 2.3rem;
        }
      }

      &-summary {
        width: 82vw;
        padding: 3rem 0 4rem;
      }
    }
  }

  .footer {
    &__content {
      &-ig-link {
        width: 100%;

        &-text {
          width: 50%;
        }
      }
    }
  }

  .photobooth {
    &__photos {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: initial;
      grid-gap: 2rem;
    }

    &__photo {
      width: 100%;
      overflow: hidden;

      &-item {
        width: 100%;
      }
    }
  }
}

// 1200px
@include mQ(xlarge) {
  .header {
    &__picture {
      bottom: 0;
      left: 0;
      height: 100%;
      transform: initial;
    }
    &__hamburger {
      display: none;
    }

    &--inner {
      .header__nav-overlay-logo {
        top: 3%;
      }
    }

    &__nav {
      justify-content: space-between;
      padding: 0 1rem;
      position: initial;

      &-overlay {
        position: static;
        transform: initial;
        background-color: transparent;
        opacity: 1;
        width: 100%;
      }

      &-logo {
        display: none;
      }

      &-menu {
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        color: $dark-color;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 3.3rem;

        &-item {
          margin: 0;
          min-width: 172px;
          margin-right: 0.5rem;

          &--logo {
            min-width: 130px;
          }

          &--last {
            margin-right: 0;
          }
        }

        &-link {
          display: inline-block;
          padding: 1.5rem 2rem;
          width: 100%;
          height: 100%;
          font-size: 2.1rem;
          transition: 0.5s;

          &-logo {
            width: 8rem;
          }

          &--logo {
            display: inline-block;
            padding: 0;
            transform: scale(1);
            transition: 0.5s ease-in-out;

            &:hover,
            &--active {
              transform: scale(1.1);
            }
          }

          &:hover,
          &--active {
            background-color: $dark-color;
          }
        }
      }
    }

    &__main-text {
      &-title {
        font-size: 5rem;
        width: 60%;
        margin: 0 auto 2rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }
    }
  }

  .photoboothInfo {
    background-attachment: fixed;
    &__content {
      &-title {
        font-size: 6rem;
      }
      &-info {
        font-size: 3rem;
      }
    }
  }

  .contact {
    &__form {
      width: 90%;
    }
  }

  .offers {
    &__tabs {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: initial;
    }

    &__tab {
      padding: 2rem 3rem;
    }

    &__panel {
      &-content {
        &-packages {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          &--single {
            display: block;
            background-color: $medium-color;
            padding: 2rem;
          }
        }
        &-package {
          padding: 3rem 4rem;

          &--single {
            width: 40%;
            margin: 0 auto;
            border: 2px solid $light-color;
          }
          &-title {
            font-size: 3rem;
            margin-bottom: 1rem;
          }

          &-desc {
            font-size: 2rem;
          }

          &-list {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .portfolio {
    &__category {
      height: 250px;
      line-height: 250px;
      width: 40%;
      margin-bottom: 0;

      &-title {
        font-size: 3rem;
      }
    }
  }

  .photobooth {
    &__cover {
      height: 500px;
      background-attachment: fixed;
    }
    &__info {
      grid-template-columns: repeat(3, 1fr);
      &-panel {
        padding: 4rem 5rem;
        &-title {
          font-size: 3rem;
        }
        &-list {
          &-item {
            font-size: 1.8rem;
          }
        }
      }
    }
    &__summary {
      &-text {
        width: 80%;
        margin: 2rem auto;
      }
    }
  }
}

// 1450px
@include mQ(xxlarge) {
  .header {
    &--home {
      background: linear-gradient(
          to bottom,
          rgba(149, 149, 149, 0.6),
          rgba(0, 0, 0, 0.8)
        ),
        url(../images/home-slider/home_slider1.jpg) no-repeat center top / cover;
    }

    &__nav {
      &-menu {
        &-item {
          &--logo {
            min-width: 150px;
          }
          min-width: 210px;
          margin-right: 1rem;
        }

        &-link {
          font-size: 2.6rem;

          &-logo {
            width: 9rem;
          }
        }
      }
    }

    &__picture {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    &__main-text {
      &-title {
        font-size: 5.5rem;
        width: 48%;
      }

      &-subtitle {
        font-size: 2.4rem;
      }
    }
  }

  .about {
    &__content {
      width: 90%;
      justify-content: space-evenly;
      padding: 2rem 4rem;

      &-photo {
        width: 30%;
        &-image {
          width: 100%;
        }

        &-link {
          width: 80%;
        }
      }

      &-info {
        width: 60%;

        &-text {
          font-size: 1.8rem;
          text-align: left;
        }
      }
    }
  }

  .portfolioInfo {
    &__gallery {
      width: 100%;

      &-item {
        width: 20vw;
        height: 20vw;
      }
    }
  }

  .offer {
    &__description {
      width: 95%;
    }

    &__items {
      width: 100%;
    }
    &__item {
      width: 17vw;
      height: 17vw;
    }
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 2.3rem;
        }
      }
    }
  }

  .contact {
    &__form {
      width: 70%;
    }

    &__items-container {
      width: 70%;
      height: 300px;
    }
    &__item {
      flex-basis: 30%;
      &-info {
        font-size: 2.4rem;
      }
    }

    &__address-info {
      margin-top: -2rem;
      &-container {
        padding-top: 0rem;
        width: 70%;
      }

      &-item {
        flex-basis: 48%;
        height: 350px;

        &-icon {
          margin-bottom: 2rem;
        }

        &-text {
          font-size: 2.4rem;
          margin-bottom: 1rem;
        }
      }

      &-summary {
        padding: 5rem 0;
        width: 75%;
        font-size: 2.8rem;
      }
    }
  }

  .footer {
    &__content {
      &-items {
        padding: 0 4rem;
        justify-content: space-between;
      }
    }
  }

  .faq {
    &__accordion {
      margin: 5rem auto;
      &-item {
        margin-bottom: 2rem;
        &-question {
          padding: 2.7rem 3rem;
          &-text {
            width: 95%;
            font-size: 2.8rem;
          }

          &-icons {
            &-plus,
            &-minus {
              width: 30px;
            }
          }
        }

        &-answer {
          &-text {
            font-size: 2.5rem;
            padding: 2.5rem 3rem;
          }
        }
      }
    }
  }

  .contact-popup {
    &__form {
      &-label {
        top: 1.3rem;

        &.js-focus {
          font-size: 1.2rem;
        }
      }
      &-input {
        padding: 2.5rem 0.8rem 1rem;
        font-size: 1.8rem;
      }

      &-button {
        padding: 1.8rem 2rem;
        font-size: 1.8rem;
      }
    }
  }
}

// 2000px
@include mQ(giga) {
  .portfolioInfo {
    &__gallery {
      &-item {
        width: 15vw;
        height: 15vw;
      }
    }
  }

  .offer {
    &__item {
      width: 12vw;
      height: 12vw;
    }
  }
}

// lanscape
@media (orientation: landscape) and (max-width: 900px),
  (orientation: landscape) and (max-height: 500px) {
  .text-lead {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .container {
    padding: 1.5rem 2rem;
  }
  .header {
    &__picture {
      top: 0;
      left: 0;
      transform: initial;
      width: 100%;
      height: auto;
    }

    &__hamburger {
      top: 4rem;
    }

    &__nav {
      padding: 2rem 3rem;

      &-logo {
        top: 2rem;
      }

      &-menu {
        &-link {
          font-size: 2rem;
        }
      }
    }

    &__main-text {
      top: 25%;
      width: 50%;

      &-title {
        font-size: 2.5rem;
      }

      &-subtitle {
        font-size: 1.8rem;
      }
    }
  }

  .about {
    min-height: 100vh;
    &__content {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &-image {
        width: 30%;
      }

      &-info {
        width: 50%;

        &-text {
          font-size: 1.4rem;
        }
      }
    }
  }

  .portfolioInfo {
    min-height: 100vh;
    &__gallery {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-item {
        width: 24vw;
        height: 24vw;
        margin-bottom: 0;
      }
    }
  }

  .offer {
    min-height: 100vh;

    &__description {
      font-size: 1.5rem;
    }

    &__items {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      padding: 0;
      padding-top: 2rem;
    }

    &__item {
      width: 21vw;
      height: 21vw;
    }
  }

  .card {
    &__front {
      &-content {
        font-size: 0.8rem;
        &-icon {
          height: 65px;
        }

        &-text {
          font-size: 1.3rem;
        }
      }
    }
  }

  .contact {
    &__form {
      &-fields {
        grid-template-areas:
          'name email'
          'phone subject'
          'message message';
      }

      &-field {
        &-input {
          font-size: 1.3rem;
          padding: 1.6rem 1rem 0.8rem;
        }

        &-label {
          font-size: 1.1rem;
          top: 1.7rem;
          left: 1.1rem;

          &.js-focus {
            font-size: 0.8rem;
            transform: translateY(-60%);
          }
        }
      }
    }

    &__items {
      margin-top: 2rem;
      width: 100%;
      background-color: $dark-color;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
      }
    }

    &__item {
      border: 1px solid darken($medium-color, 70%);
      flex-basis: 24%;
      font-size: 0.8rem;
      margin: 0;

      &-info {
        font-size: 1.5rem;
      }

      &-socials {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }

    &__address-info {
      width: 100%;
      background-color: $dark-color;

      &-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 68vw;
      }

      &-item {
        border: 1px solid darken($medium-color, 70%);
        flex-basis: 47%;
        font-size: 0.8rem;
        margin: 0;

        &-text {
          font-size: 1.5rem;
        }
      }

      &-summary {
        font-size: 2rem;
      }
    }
  }

  .footer {
    &__content {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
    }

    &__socials {
      margin: 0;
    }

    &__social {
      font-size: 2.5rem;
    }
  }

  .contact-popup {
    bottom: 1rem;
    right: 1rem;
    max-width: 350px;
    height: 350px;
    overflow: hidden;
    font-size: 1.4rem;

    &__header {
      padding: 0.5rem 3rem;
      height: auto;

      &-close {
        font-size: 3rem;
      }
    }

    &__desc {
      padding: 2rem 3rem;
    }

    &-shortcut {
      bottom: 3rem;
      right: 3rem;
    }
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .section-title {
    margin: 1rem 0;
  }
  .about {
    &__content {
      &-info {
        &-text {
          font-size: 1.2rem;
        }
      }
    }
  }

  .portfolioInfo__gallery {
    height: 135px;
    margin: 1rem auto;
  }

  .offer {
    height: 100vh;

    &__item {
      width: 24vw;
      height: 24vw;
    }
  }

  .contact-popup {
    height: 300px;
    font-size: 1.4rem;

    &__header {
      padding: 0 3rem;
    }

    &__desc {
      padding: 1rem 4rem;
    }

    &__form {
      padding: 1rem 3rem;
    }
  }
}
