@include mQ(small) {
  .text-lead {
    font-size: 2.2rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .hide-small-medium {
    display: none;
  }

  .header {
    &__nav {
      &-menu {
        &-link {
          font-size: 3rem;
        }
      }
    }
    &__main-text {
      top: 38%;

      &-title {
        font-size: 3.5rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }

      &-button {
        font-size: 2.5rem;
      }
    }
  }

  .about {
    &__content {
      &-image {
        width: 50vw;
        margin-top: 2rem;
      }
      &-info {
        width: 70vw;
        &-text {
          margin-bottom: 0.8rem;
          font-size: 2rem;
        }
      }
    }
  }

  .offer {
    &__item {
      width: 60vw;
      height: 60vw;
    }
  }

  .card {
    &__front {
      &-content-text {
        font-size: 2.5rem;
      }
    }

    &__back {
      &-content {
        &-text {
          font-size: 1.8rem;
        }

        &-button {
          font-size: 1.8rem;
        }
      }
    }
  }

  .portfolio {
    &__gallery {
      grid-template-rows: repeat(2, 200px);
      grid-template-columns: repeat(2, 200px);
    }
  }

  .contact {
    &__form {
      &-field {
        &-input {
          font-size: 1.6rem;
          padding: 2.4rem 1rem 1rem;
        }

        &-label {
          font-size: 1.4rem;
          top: 1.7rem;
          left: 1rem;
        }
      }
    }

    &__item {
      &-info {
        font-size: 2rem;
      }
    }
  }

  .footer {
    font-size: 2rem;
  }
}

// 770px
@include mQ(medium) {
  .text-lead {
    font-size: 3rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .hide-small-medium {
    display: none;
  }

  .header__hamburger {
    width: 60px;
    height: 60px;

    &-bar,
    &-bar::before,
    &-bar::after {
      height: 6px;
    }

    &-bar::before {
      top: -22.5px;
    }

    &-bar {
      top: calc(50% - 3px);
    }

    &-bar::after {
      top: 22.5px;
    }
  }

  .header__nav {
    padding: 2rem;
    &-logo {
      width: 85px;

      &-image {
        height: 100px;
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }
  }

  .header__main-text {
    top: 40%;
    width: 75%;

    &-title {
      font-size: 5rem;
      padding: 3rem 4rem;
    }

    &-subtitle {
      font-size: 3rem;
    }
  }

  .about__content-info-text {
    font-size: 2.8rem;
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 3.5rem;
        }

        &-icon {
          font-size: 50rem;
        }
      }
    }

    &__back {
      &-content {
        padding: 6rem 4rem;

        &-text {
          font-size: 2.8rem;
        }
      }
    }
  }

  .portfolio__gallery {
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(2, 250px);
    margin: 3rem auto;
  }

  .contact {
    &__form {
      width: 75vw;
      margin-top: 4rem;

      &-field {
        margin-bottom: 1rem;
        &-input {
          font-size: 2rem;
          padding: 3rem 1.5rem 1.5rem;
        }

        &-label {
          top: 2.4rem;
          left: 1.5rem;
          font-size: 1.8rem;

          &.js-focus {
            font-size: 1.5rem;
          }
        }
      }
    }

    &__items-container {
      width: 75vw;
    }

    &__item {
      font-size: 1.2rem;
      &-info {
        font-size: 2.4rem;
      }
    }
  }

  .footer {
    font-size: 3rem;

    &__socials {
      font-size: 8rem;
    }

    &__social {
      font-size: 4rem;
    }
  }
}

// 1050px
@include mQ(large) {
  .hide-small-medium {
    display: block;
  }

  .header__main-text {
    top: 40%;
    width: 70%;

    &-title {
      font-size: 6rem;
      padding: 3rem 4rem;
    }

    &-subtitle {
      font-size: 3rem;
    }
  }

  .about {
    min-height: 100vh;
    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      min-height: 80vh;
      width: 85%;
      margin: 0 auto;
      border: 2px dashed $main-color;

      &-image {
        width: 30%;
      }

      &-info {
        width: 65%;

        &-text {
          font-size: 2.2rem;
          text-align: center;
        }
      }
    }
  }

  .offer {
    min-height: 100vh;
    &__items {
      margin: 5rem 0 2rem;
      min-height: 60vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
    &__item {
      width: 25vw;
      height: 25vw;
    }
  }

  .card {
    &__front {
      &-content {
        font-size: 1.5rem;

        &-text {
          font-size: 2rem;
        }
      }
    }

    &__back {
      &-content {
        padding: 3rem 4rem;
        &-text {
          font-size: 1.7rem;
        }
      }
    }
  }

  .portfolio__gallery {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 300px);
    margin: 5rem auto;
  }

  .contact {
    &__form {
      &-fields {
        grid-template-areas:
          'name email'
          'phone subject'
          'message message';
      }
    }

    &__items {
      width: 100%;
      background-color: $dark-color;
    }

    &__items-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 75vw;
      height: 280px;
    }

    &__item {
      border: 1px solid darken($medium-color, 70%);
      flex-basis: 24%;
      height: 200px;
      padding: 1rem 3rem;
      margin: 0;

      &-info {
        font-size: 2.3rem;
      }

      &-socials {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .footer {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2.5rem;
    }
    &__text {
      display: block;
    }

    &__socials {
      margin: 0;
    }
  }
}

// 1200px
@include mQ(xlarge) {
  .header {
    &__hamburger {
      display: none;
    }

    &__nav {
      justify-content: space-between;
      padding: 0 1rem;

      &-overlay {
        position: static;
        transform: initial;
        background-color: transparent;
        opacity: 1;
        width: 100%;
      }

      &-logo {
        @include position(absolute, 2%, 50%, null, null);
        transform: translateX(50%);
        z-index: 11;

        &-image {
          margin: 1rem 0 0;
          padding: 0;
        }
      }

      &-menu {
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        color: $dark-color;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 3.3rem;

        &-half {
          display: flex;
          justify-content: space-between;
        }

        &-item {
          margin: 0;
          min-width: 172px;
          margin-right: 0.5rem;

          &--last {
            margin-right: 0;
          }
        }

        &-link {
          display: inline-block;
          padding: 1.5rem 2rem;
          width: 100%;
          height: 100%;
          font-size: 2.1rem;
          transition: 0.5s;

          &:hover {
            background-color: $dark-color;
          }
        }
      }
    }

    &__main-text {
      &-title {
        font-size: 5rem;
        width: 60%;
        margin: 0 auto 2rem;
      }

      &-subtitle {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__form {
      width: 90%;
    }
  }
}

// 1450px
@include mQ(xxlarge) {
  .header {
    background: linear-gradient(
        to bottom,
        rgba(149, 149, 149, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url(../images/showcase.jpg) no-repeat center 50% / cover;

    &__nav {
      &-menu {
        &-item {
          min-width: 210px;
          margin-right: 1rem;
        }

        &-link {
          font-size: 2.6rem;
        }
      }
    }

    &__main-text {
      &-title {
        font-size: 5.5rem;
        width: 48%;
      }

      &-subtitle {
        font-size: 2.4rem;
      }
    }
  }

  .about {
    &__content {
      width: 90%;

      &-info {
        width: 60%;

        &-text {
          font-size: 2.2rem;
        }
      }
    }
  }

  .offer {
    &__item {
      width: 18vw;
      height: 18vw;
    }
  }

  .card {
    &__front {
      &-content {
        &-text {
          font-size: 2.3rem;
        }
      }
    }

    &__back {
      &-content {
        &-text {
          font-size: 2rem;
        }
      }
    }
  }

  .portfolio__gallery {
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: initial;
    margin: 2rem auto;

    &-item {
      height: 300px;
    }
  }

  .contact {
    &__form {
      width: 70%;
    }

    &__items-container {
      width: 70%;
      height: 300px;
    }
    &__item {
      flex-basis: 30%;
      &-info {
        font-size: 2.4rem;
      }
    }
  }
}

// 2000px
@include mQ(giga) {
  .offer {
    &__item {
      width: 15vw;
      height: 15vw;
    }
  }
}
