@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin mQ($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - błąd';
  }
}

@mixin button(
  $font-size,
  $color,
  $bg-color,
  $border-color,
  $hover-color,
  $hover-bg-color,
  $lift,
  $width: null
) {
  display: inline-block;
  cursor: pointer;
  font-size: $font-size;
  padding: 1rem 2rem;
  @if ($width) {
    width: $width;
  }
  color: $color;
  background-color: $bg-color;
  border: 2px solid $border-color;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  transform: translateY(0px);

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-color;
    border-color: $hover-color;

    @if ($lift) {
      transform: translateY(-8px);
    }
  }

  @include mQ(medium) {
    font-size: $font-size + 0.5rem;
    padding: 1.5rem 2.5rem;
  }

  @include mQ(large) {
    font-size: $font-size + 0.8rem;
    padding: 1.5rem 3rem;
  }

  @include mQ(xlarge) {
    font-size: $font-size + 1rem;
    padding: 1.5rem 3rem;
  }
  @media (orientation: landscape) and (max-width: 850px) {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}
