.portfolio {
  text-align: center;
  margin: 2rem auto;

  &__categories {
    margin: 5rem 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__category {
    margin-bottom: 2rem;
    position: relative;
    display: block;
    height: 200px;
    border: 2px solid $dark-color;
    line-height: 200px;
    width: 90%;
    cursor: pointer;
    overflow: hidden;

    &:hover &-image {
      opacity: 0.3;
    }

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
      z-index: -1;
      opacity: 0;
      width: 100%;
      transition: opacity 0.6s;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: normal;
    }
  }

  &__gallery {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &-item {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
