.container {
  max-width: $max-width;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
}

// Padding classes
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.px {
  &-1 {
    padding: 0 1rem;
  }
  &-2 {
    padding: 0 2rem;
  }
  &-3 {
    padding: 0 3rem;
  }
  &-4 {
    padding: 0 4rem;
  }
}

// Margin classes
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Background classes
.bg {
  padding: 1rem 2rem;

  &--light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &--medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }

  &--dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &--main {
    background: $main-color;
    color: set-text-color($main-color);
  }
}

.text-lead {
  font-size: 1.5rem;
  max-width: 80%;
  margin: 1rem auto 2rem;
  text-align: center;
  &--no-bottom {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hide-small-medium {
  display: none;
}
