// Colors, max-width, fonts
$fonts: (
  main: #{'Open Sans',
  sans-serif},
  second: #{'Istok Web',
  sans-serif}
);

$main-color: #ad9246;
$light-color: #fbf5f3;
$dark-color: #02040f;
$max-width: 1280px;
