// Colors, max-width, fonts
$fonts: (
  main: #{'Open Sans',
  sans-serif},
  second: #{'Istok Web',
  sans-serif}
);

$breakpoints: (
  small: (
    min-width: 460px
  ),
  medium: (
    min-width: 770px
  ),
  large: (
    min-width: 1050px
  ),
  xlarge: (
    min-width: 1200px
  ),
  xxlarge: (
    min-width: 1450px
  ),
  giga: (
    min-width: 2000px
  )
);

$main-color: #ad9246;
$light-color: #f3eeec;
$medium-color: #dfe4ea;
$dark-color: #02040f;
$max-width: 1280px;
