@import 'variables';
@import 'config';
@import 'mixins';
@import 'utilities';
@import 'animations';
@import 'mainPage';
@import 'offerPage';
@import 'photoboothPage';
@import 'mediaQueries';

p {
  font-family: map-get($fonts, main);
}
